html {
    font-size: 100%;
    font-family: Tahoma, sans-serif;
    outline: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.page_align{
    width: 60%;
    min-width: 320px;
    margin: 0px auto;
    height: 1300px;
}
.header{
    width: 100%;
    height: 25%;
    position: relative;
    background: url("/templates/images/banner.png");
    background-size: 100% 100%;
}
#qwerty{
    background: url("/templates/images/logo.png");
    background-size: 100% 100%;
    width: 18%;
    height: 26%;
    opacity: 0.8;
    position: absolute;
}
.nav_bar{
    width: 100%;
    height: 1%;
}
.nav_bar ul{
    padding-top: 24.2%;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
}
.nav_bar li{
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: rgba(67, 169, 111, 0.5);
    text-align: center;
    border-radius: 5px;
    bottom: 0px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 1px 0px 1px 1px rgba(255, 255, 255, 0.3);
}
.nav_bar li:hover{
    background-color: rgba(67, 169, 111, 0.8);
}
.nav_bar li:active{
    background-color: rgba(67, 169, 111, 0.8);
}
.nav_bar a{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: #fff;
    line-height: 60px;
    display: block;
    z-index: 20;
}
#login_form{
    position: absolute;
    width: 25%;
    right: 0;
    background-color: #dbe0e3;
    color: #fff;
    text-align: center;
    box-shadow: 0px 3px 3px 2px #000;
    -moz-box-shadow: 0px 3px 3px 2px #000;
    -o-box-shadow: 0px 3px 3px 2px #000;
    -webkit-box-shadow: 0px 3px 3px 2px #000;
    z-index: 20;
    display: none;
}
#reg_form{
    position: absolute;
    width: 25%;
    right: 0;
    background-color: #dbe0e3;
    color: #fff;
    text-align: center;
    box-shadow: 0px 3px 3px 2px #000;
    -moz-box-shadow: 0px 3px 3px 2px #000;
    -o-box-shadow: 0px 3px 3px 2px #000;
    -webkit-box-shadow: 0px 3px 3px 2px #000;
    z-index: 20;
    display: none;
}
#login_form a{
    color: gray;
    font-size: 1rem;
}
#login_form a:hover{
    text-decoration: underline;
}
#user_name, #user_password{
    width: 80%;
    margin-top: 10px;
    height: 20px;
    border: none;
}
#log_in{
    margin-bottom: 5%;
    border: none;
    background-color: #43a96f;
    width: 50%;
    height: 45%;
    border-radius: 5%;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
#reg{
    margin-bottom: 5%;
    margin-top: 5%;
    border: none;
    background-color: #43a96f;
    width: 50%;
    height: 45%;
    border-radius: 5%;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
input{
    border-radius: 5%;
}
.content{
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, #e9e5dc, #211d17);
    background-color: gray;
}
.slider{
    position: relative;
    width: 80%;
/*    max-width: 9600px;
    max-height: 1080px;*/
    height: 50%;
    top: 10%;
    margin: 0 auto;
/*    text-align: center;*/
    overflow: hidden;
}
.slider p{
    color: #fff;
    font-size: 2rem;
}
.slider img{
    width: 500%;
    height: 100%;
}
#slider{
    position: relative;
}
.myList {
    width: 22%;
    height: 5%;
    position: absolute;
    top: 95%;
    left: 42%;
}
.myList {
    width: 100%;
}
.myList li{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.nav_slide{
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12.5px;
    color: #fff;
    padding-left: 10px;
    text-align: center;
    line-height: 22px;
    color: rgba(0, 0, 0, 0);
}
.active{
    background-color: rgba(255, 255, 255, 0.6);
}
.prev{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12.5px;
    color: #fff;
    padding-right: 2px;
    text-align: center;
    line-height: 22px;
}
.next{
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12.5px;
    color: #fff;
    padding-left: 2px;
    text-align: center;
    line-height: 22px;
}
.some_text{
    width: 50%;
    height: 10%;
    margin: 0 auto;
    color: #367b54;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    top: 15%;
    bottom: 20%;
}
.some_text h1{
    width: 100%;
}
#go_gallery{
    position: relative;
    width: 40%;
    height: 10%;
    background-color: #43a96f;
    top: 20%;
    font-size: 2rem;
    text-align: center;
    border-radius: 2%;
    line-height: 75px;
    margin: 0 auto;
    box-shadow: 0 2px 2px 2px gray;
}
#go_gallery a{
    color: #fff;
    text-decoration: underline;
    display: block;
}
.footer{
    color: #fff;
    height: 5%;
    background-color: #9a9d9f;
}
.footer p{
    display: inline-block;
    margin-top: 2%;
    margin-left: 15%;
}

#category{
    position: relative;
    width: 90%;
    /*height: 100%;*/
    margin: 0 auto;
}
.category img{
    width: 100%;
    height: 100%;
    box-shadow: 2px 1px 1px 2px rgba(255, 255, 255, 0.4);
}
#category li{
    display: inline-block;
    width: 28%;
    height: 28%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color: #367b54;

}
#category p{
    padding-bottom: 2%;
}
/* fdsfdsagsdgas */

.modal{
    margin: 1% auto;
    width: 60%;
    height: 100%;

}
.modal-body{
    margin: 0 auto;
    padding: 0;
    width:  100%;
    height: 80%;
}
.modal-open .modal{
    overflow-y: hidden;
}


.asdf{
    display: inline-block;

}
.cat img{
/*    position: absolute;*/
    width: 100%;
    height: 100%;
}

.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;

}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.slider_gallery {
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}
.slider_gallery ul,
.slider_gallery li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.slider_gallery ul {
    width: 9999px;
}
.slider_gallery ul li {
    list-style-type: none;
    float: left;
    width: 100%;
    height: 100%;
}
.slider_gallery .nav {
    position: absolute;
    left: 15px;
    bottom: 12px;
}
.slider_gallery .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}
.slider_gallery .nav span.on {
    background: #2e9419;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.cat{
    display: none;
}

.catActive {
    display: block;
}



















/*
#modal_form {
    width: 1200px;
    height: 800px; !* Рaзмеры дoлжны быть фиксирoвaны *!
    border-radius: 5px;
    !* border: 3px #000 solid;*!
    background: #fff;
    position: fixed; !* чтoбы oкнo былo в видимoй зoне в любoм месте *!
     top: 45%; !*!* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт *!*!
    left: 50%; !*!* пoлoвинa экрaнa слевa *!*!*!
     margin-top: -340px;
    margin-left: -620px; !* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) *!
    !*margin-top: -30%;
    margin-left: -15%;*!
    display: none; !* в oбычнoм сoстoянии oкнa не дoлжнo быть *!
    opacity: 0; !* пoлнoстью прoзрaчнo для aнимирoвaния *!
    z-index: 5; !* oкнo дoлжнo быть нaибoлее бoльшем слoе *!
    padding: 25px 25px;
}
#modal_form img{
    width: 100%;
    height: 100%;
}
!* Кнoпкa зaкрыть для тех ктo в тaнке) *!
#modal_close {
    !* width: 10%;
    height: 10%;*!
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
!* Пoдлoжкa *!
#overlay {
    z-index:3; !* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa *!
    position:fixed; !* всегдa перекрывaет весь сaйт *!
    background-color:#000; !* чернaя *!
    opacity:0.8; !* нo немнoгo прoзрaчнa *!
    -moz-opacity:0.8; !* фикс прозрачности для старых браузеров *!
    filter:alpha(opacity=80);
    width:100%;
    height:100%; !* рaзмерoм вo весь экрaн *!
    top:0; !* сверху и слевa 0, oбязaтельные свoйствa! *!
    left:0;
    cursor:pointer;
    display:none; !* в oбычнoм сoстoянии её нет) *!
}*/
